body {
    display: grid;
    justify-content: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    background-color: black;
    
}
.music{
    display: none;
}

.header{
    font-size: 2.0em;
    text-shadow: 0 0 25px #dd6cae ,
                 0 0 50px #dd6cae,
                 0 0 100px #dd6cae ,
                 0 0 150px #dd6cae ,
                 0 0 200px #dd6cae ;
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }


}


a:link{
    background-color: grey ;
    text-decoration: none;
    border-radius: 5px 5%;
}
a:visited{
    color:wheat;
}
a:hover{
    color:brown;
}


div.php {
    background-color: grey;
    border-radius: 5px 5%
   
}
    


#footer{
    padding-left: 100px;
    padding-right: 100px;
}

body {
    margin: 0;
    padding: 0;
  }
  
  #container {
    position: fixed;
    touch-action: none;
  }

